<div class="container">
    <br />

    <div class="panel-group" id="accordion">
        <div class="faqHeader">General questions</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Is account registration required?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Account registration at <strong>Golden Shoe</strong> is only required if you will be buying themes. 
                    This ensures a valid communication channel for all parties involved in any transactions. 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">what is your return policy</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    Returning an item to us is quick, easy and free. If for any reason you are not happy with a product you’ve purchased, 
                    you can return it to us within 30 days for a refund. Once we’ve inspected the item, we’ll refund the price you paid, 
                    back to your original payment method.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse12">What if the carrier is not able to collect my return</a>
                </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
                <div class="panel-body">
                    If for any reason your package is not collected on the day you’ve booked, 
                    please follow our usual returns instructions and book in another pick up free of charge.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse13">Can I return to a shop if I bought online</a>
                </h4>
            </div>
            <div id="collapse13" class="panel-collapse collapse">
                <div class="panel-body">
                    We are unable to accept returned items from retail stores. 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse14">I recieved a faulty item</a>
                </h4>
            </div>
            <div id="collapse14" class="panel-collapse collapse">
                <div class="panel-body">
                    We’re really sorry about that, please return faulty item to us for a full refund.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse15">How do I track my return</a>
                </h4>
            </div>
            <div id="collapse15" class="panel-collapse collapse">
                <div class="panel-body">
                    You can track the journey of your return as soon as it has reached our carrier. The tracking number is provided on the return label that you have created at the end of the return booking process. The tracking number is placed on the bottom of the label under the barcode, and in case of Yodel starts with “JJD”, 
                    while in case of Collect+ starts with “8XM”. You can then use this number to track your order directly on the carrier website.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse16"> How will I know my goods have been dispatched?</a>
                </h4>
            </div>
            <div id="collapse16" class="panel-collapse collapse">
                <div class="panel-body">
                    As soon as we've dispatched your order, you'll receive an email from us confirming the details of your purchase and the 
                    delivery method you've chosen. We'll point you in the right direction of tracking the progress of your delivery too.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse17">How will my order be dispatched?</a>
                </h4>
            </div>
            <div id="collapse17" class="panel-collapse collapse">
                <div class="panel-body">
                    From Monday - Friday orders made before 12pm (GMT) will be dispatched by courier that same day and delivered on the next working day by the delivery option you chose during checkout. Orders made after the 12pm (GMT) cut-off time will be dispatched the next working day and once again, delivered by the option you chose. Orders made on Friday before midday will be dispatched the same day but delivered the following Monday. 
                    We don't dispatch or deliver on public holidays and some destinations may take just that little bit longer.
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse18">How can I track my order?</a>
                </h4>
            </div>
            <div id="collapse18" class="panel-collapse collapse">
                <div class="panel-body">
                    We'll email tracking details of your order to you along with your dispatch confirmation. If you're a registered customer you can also find these details by logging into your account and viewing your order history.
                </div>
            </div>
        </div>

        


</div>